body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-weight: 100;

}
.header{
	z-index: 1;
	font-size: 15px;
	display: flex;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 50px;
}

.logo{
	
	width: 230px;
	height: 60px;
}
nav{
	position: absolute;
	right: 170px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 60px;
}
ul li{
	float: left;
}
ul li a{
	color: #fff;
	display: block;
	height: 60px;
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 60px;
}
.opening{
	background-color: #4a454b;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  display: block;
  position:relative;
	height: 550px;
	margin-top: -110px;
		padding-top: 220px;
		z-index: -1;
}
.timing{
	background-color: grey;
	
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 970px;
}
.hero{

	margin-top: 150px;
	padding-left: 100px;
}
.icon1{
position: absolute;
z-index: 5;
	margin-top: 40px;
}
.icon2{z-index: 4;
	position: absolute;
margin-left: 140px;;
	margin-top: 30px;
}
.icon3{z-index: 3;
	margin-left: 280px;
position: absolute;
	margin-top: 20px;
}
.icon4{z-index: 2;
	margin-left: 420px;
position: absolute;
	margin-top: 10px;
}
.icon5{z-index: 1;
	margin-left: 560px;
	position: absolute;
}


.about{
	margin-left: 100px;
	width: 530px;
}
.welcome{
	display: flex;
	height: 500px;
}
h4{
	font-size: 40px;
	font-weight: 900;
}
.welcome .about p{
	line-height: 1.5;
	font-size: 12px;
	font-weight: 300;
}
.sign-up{
	margin-left: 330px;
	position: relative;
	margin-top: -250px;
	width: 430px;
	height: 530px;
	background-color: white;
	border: 1px solid black;
	right: 0;
}
input{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	height: 55px;
	width: 355px;
	padding-left: 15px;
	font-size: 15px;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.sign-up p{
	margin-bottom: 0;
	margin-top: 0;
}
.submit{
	margin-top: 40px;
	width: 372px;
	height: 61px;
	background-color: #90d23d;
	color: white;
	text-align: center;
	font-size: 17px;
	
}
.sign-up h4{
	margin-top: 30px;
	margin-bottom: 0;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
.sign-up-text{
	text-align: center;
	padding-top: 10px;
	font-size: 15px;

}
.slider {
      position: relative;
      overflow: hidden;
      margin-right: 170px;
      margin-left: 170px;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
    .slider__item img{
display: flex;
margin-left: auto;
margin-right: auto;
    }
     .slider__item h3{
     	text-align: center;
     }
     .slider__item p{
     	padding-right: 45px;
     	padding-left: 45px;
     }
.acordeon{
	z-index: -1;
	background-color: grey;
	margin-right: 170px;
	margin-left: 170px;
	margin-top: 80px;
	margin-bottom: 80px;
	height: 375px;

}
.reward{
	color: white;
	text-align: right;
	z-index: -1;
	height: 700px;
	background-color: #4b4d4f;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 82%, 0 100%);
  display: block;
  position:relative;
}
.reward_circle{
	
	z-index: 10;
	margin-bottom: -270px;
	margin-left: 170px;
}
.reward_text{
	font-size: 25px;
	margin-left: auto;
	margin-right: 165px;
	position: relative;
	padding-top: 60px;
	width: 670px;
}
.reward_text h3{
	font-size: 40px;
	font-size: 900;
}
.reward_button{
	background-color: #90d23d;
	border-radius: 10px;
	height: 60px;
	width: 200px;
	color: white;
	font-size: 15px;
	border-color: #90d23d;

}
.speakers{ 
	margin-top: 145px;
	height: 1500px;
}
.speakers h4,.speakers p{
	padding-left: 165px;
}
.speakers_table{
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	width: 970px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}
.speaker_item{

	border-radius: 20px;
	background-color: #90d23d;
	height: 300px;
	width: 300px;
}
.speaker_item2{
	
	border-radius: 20px;
	background-color: grey;
	height: 300px;
	width: 300px;
}

.speaker_item_center{
	margin: auto;

}
.sponsor{
	color: white;
	text-align: right;
	height: 700px;
	background-color: #4b4d4f;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 82%, 0 100%);
  display: block;
  position:relative;
}
.sponsor_text h3{
	font-size: 50px;
}
.sponsor_text{
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	text-align: center;
	position: relative;
	padding-top: 80px;
	width: 670px;
}
.sponsor_img{
	padding-top: 40px;
 margin-left: auto;
	margin-right: auto;
	display: flex;
	position: relative;
	padding-bottom: 65px;
	width: 600px;
}
.sponsor1{

display: flex;
}
.sponsor2{
    margin-left: 80px;
    margin-right: 80px;
	display: flex;
}
.sponsor3{
	padding-top: 30px;
}
.sponsor_button{
background-color: #90d23d;
	border-radius: 18px;
	height: 60px;
	width: 200px;
	padding-left: 52px;
	color: white;
	font-size: 18px;
	border: none;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	    font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.contactUs{
	background-image: url("images/Map.png");
	height: 660px;
    padding-top: 70px;

}
.contact_form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: white;
	width: 970px;
	height: 530px;
}
.cnt{
	padding-top: 100px;
	width: 50%;
	display: block;
}
.map_img{
	margin-left: auto;
	margin-right: auto;
 display: flex;
}
.contact_form p{
text-align: center;


}
.cnt_text{
	padding-top: 35px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}
.view_map_btn{
    
   display: flex;
   margin-right: auto;
   margin-left: auto;
   padding-left: 12%;
    background-color: #90d23d;

	height:55px;
	border-radius: 9px;
	border: none;
		width: 200px;
	color: white;
	font-size: 17px;
	
	
	
}
.msg_mail{

	margin-left: 0;
	margin-top: 60px;
	margin-bottom: 30px;
	width: 400px;
	height: 60px;
}
.msg_text{
	font-size: 14px;
	font-weight: 100;
	padding-left: 15px;
	width: 400px;
	height: 250px;
	font-family: 'Roboto', sans-serif;
	padding-top: 15px;
	font-weight: 100;
}
.send_msg_btn{
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
    margin-top: 30px;
	border: none;
	background-color: #373737;
	border-radius: 10px;
	height: 55px;
	width: 422px;
	color: white;
	font-size: 15px;
	
}
.contact_msg{
	width: 50%;
}
.footer{
	background-color: #90d23d;
	height: 220px;
	width: 100%;
	
}
.social{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}
.links{
	padding-right: 10px;
}
.last_links{
	padding-right: 0;
}
.footer-text{
	text-align: center;
}
#myBtn{
	cursor: pointer;
	width: 32px;
	margin-left: auto;
	position: absolute;
	right: 165px;
	padding-top: 100px;
}